<h1>Order</h1>

{{#if ordersArr.length}}
{{#each ordersArr}}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Order <small>{{idOrder}}</small>
                </span>
                <p class="date">Date {{date}}</p>
                <p>{{user.name}}</p>
                <ol>
                    {{#each scooters}}
                    <li>
                        {{scooter.model}} (x <strong>{{count}}</strong>)
                    </li>
                    {{/each}}
                </ol>
                <hr>
                <p>Price: <span class="price">{{price}}</span></p>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>There`s no orders</p>
{{/if}}