<h1>Scooters</h1>

{{#if scooters.length}}
{{#each scooters}}
<div class="row">
    <div class="col s5 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src={{picture}} alt={{model}}>
            </div>
            <div class="card-content">
                <span class="price">{{price}}</span>
                <span class="card-title">{{model}}</span>
                <p>{{description}}</p>
            </div>
            <div class="card-action">
                <a href='/scooters/{{id}}' target="_blank">More detailed</a>
                <a href='/scooters/{{id}}/edit?red=true'>Edit</a>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>Donload scooters</p>
{{/if}}