<div class="scooter">
    <h1>{{scooter.model}}</h1>

    <img src="{{scooter.picture}}" alt="{{scooter.model}}">

    <p class="price big">{{scooter.price}}</p>
     <p>{{scooter.description}}</p>
</div>