<h1>Scooters</h1>
{{#if scooters.length}}
<div class="row">
{{#each scooters}}
    <div class="col xl4 l5 m6 s12 center-align">
        <div class="card large">
            <div class="card-image">
                <img src={{picture}} alt={{model}}>
            </div>
            <div class="card-content">
                <span class="price">{{price}}</span>
                <span class="card-title">{{model}}</span>
                <p>{{description}}</p>
            </div>
            <div class="card-action buttons">
                <a href='/scooters/{{id}}' target="_blank">More detailed</a>
                {{#if @root.isAuth}}
                <a href='/scooters/{{id}}/edit?red=true'>Edit</a>
                <form action="/shopcart/add" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="_csrf" value="{{@root.csurf}}">
                <button type="submit" class="btn">Buy</button>
                {{/if}}
                </form>
            </div>
        </div>
    </div>

{{/each}}
</div>
{{else}}
<p>Donload scooters</p>
{{/if}}
