<h1>Shopcart</h1>
<div id="shopcart">
    {{#if scooters.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each scooters}}
            <tr>
                <td>{{scooter.model}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small red delete" data-id="{{scooter._id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p><strong>Price</strong> <span class="price">{{price}}</span></p>
    {{else}}
    <p>There`s no scooters in Shopcart</p>
    {{/if}}
</div>
